#navBar{
    display: flex;
}
#searchCart{
    display: flex; 
    /* to make the items(cart search button) inside the id searchCart appear beside each other */
    margin-left: 180px;
    /* to margin all the items(cart search button) inside the id searchCart as a whole */
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
}
#navBar>ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 180px; 
    /* margin the unorder list as a whole(create a space between the ul and food logo*/
}
#navBar>ul>li{
    margin:40px;
    font-size: 20px;
    /* margin list items from each other (create space between list items)*/
}
#navBar>ul>li>a{
    text-decoration: none;
    color: black ;
}
.searchItem{
    margin-left: 20px; 
    /* create a space between the button and the cart,search icons*/
    border-radius: 50px;
    border: none;
}
.serachButton{
    background-color: lightgreen;
    padding: 10px 20px;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.leftMain{
    width: 600px;
}
.leftMain>h1{
    color: black;
    font-size: 62px;
}
.leftMain>h1>span{
    color: lightgreen;
}
.leftMain>p{
    font-size: large;
}
.orderButton{
    background-color: lightgreen;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    color: white;
    padding: 10px;
}
.playButton{
    border-radius: 15px;
    border: none;
    padding: 10px 16px;
    box-shadow: 1px 1px 1px 1px;
    margin: auto;
    /* حتى اخلي المساحة من يسار زر البلاي تساوي المساحة من يمين زر البلاي*/
}
.watchButton{
    background-color: white;
    border-radius: 15px;
    
    font-size: 24px;
    color:grey;
    padding: 10px
}
 /* .greenScreen{   
    position: absolute; 
    background-color: lightgreen;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    z-index: -1;
    top: 200px;
    right: 50%; 
/* }       */
.imageDiv{
    z-index: 0;
}
.rightMain{
    position: relative;
}
.heart{
    font-size: 24px;
    z-index: +1;
    position: absolute;
    top: 200px;
    left: 85px;
}
.item{
    display: flex;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1 solid black;
    margin-left: 20px;
}
.text{
    font-size: 15px;
    margin-left: 10px;
}
.bottomMain{
    display: flex;
}
#underMain{
    display: block;
}
.mainContent{
    text-align: center;
    margin-top: 50px;
}
.redText{
    color: lightcoral;
    font-size: 15px;
}
.Cards{
    display: flex; 
}
.card>img{
    margin-top: 25px;
}
.card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    position: relative;
    z-index: 0; 
} 
.card>h1{
    font-size: 22px;
}
.card>p{
    color: lightgray;
    font-size: 19px;
}
.foodGreenScreen{
    background-color: #C1F1C6;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px; /* Adjust based on image positioning */
    z-index: -1;
}
#underMain2{
    display: block;
}
.mainContent2{
    text-align: center;
    margin-top: 50px;
}
.redText{
    color: lightcoral;
    font-size: 15px;
}
.cards2{
    display: flex; 
}
.card2{ 
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    position: relative;
} 
.card2>h1{
    font-size: 22px;
    text-align: center;
}
.card2>p{
    color: lightgray;
    font-size: 19px;
}
.heart2{
    position: absolute;
    width: 50px;
    height: 50px; 
    background-color: #39DB4A;
    right: 0px; 
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 50px 0px 50px;
}
#testimonials{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.leftTest{
    width: 700px; 
    position: relative;
    z-index: 0;
}
.chefGreenscreen{
    position: absolute;
    background-color: #39DB4A;
    width: 350px;
    height: 350px;
    z-index: -1;
    top: 0px;
    left: 180px;
    border-radius:100% ;
}
.rightTest>h1{
    font-size: 30px
}
.feedback{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}
.feedback>img{
    border-radius: 100%;
    border: 5px solid white;
    margin-right: 100px;
}
.image1{
    position: absolute;
    z-index: -1;
    left: 100px;
}
.image2{
    position: absolute;
    z-index: 0;
    left: 60px;
}
.image3{
    position: absolute;
    z-index: 1;
    left: 10px;
}
p>span{
    color: yellow;
    font-size: 20px;
}
.rate{
    display: flex;
}
.rate>p{
    margin:12px; 
}
#services{
    display: flex;
    margin-top: 80px;
    align-items: center; 
}
.leftServices{
    width: 600px;
}
.greenButton{
    color: white;
    background-color: #39DB4A;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    padding: 20px;
}
.rightServices{
    display: grid;
    grid-template-columns: auto auto ; 
    /* the items in the rightServices class will be distrubed as a 2 columns */
}
.card3{
    background-color: white;
    border-radius: 15px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px;
}
.decoration{
    color: #39DB4A; 
    text-align: center;
    font-size: 15px;
}
#footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px; 
}
.leftFooter>p{
    color: #555555;
}
.rightFooter>ul>li{
    list-style: none;
    color: #555555;
    margin: 10px;
}
.rightFooter>h3{ 
    margin-left: 30px;
}
.social{
    display: flex; 
    align-items: center; 
}
.Green>i{
    margin: 10px;
}
.DarkGreen{
    margin: 10px;
}
.socialIcon{
    display: flex;
    position: relative; 
}
.DarkGreen{
    width: 40px;
    height: 40px;
    background-color: #39DB4A;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Green{
    background-color: #EDFFEF;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
}

.copyright{
    position: absolute;
    left: 45%;
    color: #555555;
}




